

body
{
    margin: 0;
}

body,
button
{
    font-family: 'Segoe UI';
    font-size: 8.25pt;
}

.slick-cell
{
    font: 11pt Calibri, 'Segoe UI',Arial,Verdana,Sans-Serif;

    padding: 1px 1px 0 2px;

    border-width: 0 1px 1px 0;
    border-style: solid solid solid solid;
    border-color: transparent #d4d4d4 #d4d4d4 transparent;
    background-color: White;
}

.slick-header-columns
{
    font: 10pt Calibri,'Segoe UI',Arial,Verdana,Sans-Serif;

    color: #5e5e5e;
    border-bottom: 1px solid #bbb;
}

.selected-header
{
    font-weight: bold;

    color: #217346;
    background-color: #e2e2e2;
}

.slick-column-name
{
    display: block;

    margin-right: 14px;

    text-align: center;
    text-transform: uppercase;
}

.header-overlay
{
    background-color: #217346;
}

.cell-overlay,
.selection-cell-overlay
{
    background-color: #217346;
}

input.editor-text
{
    font: 11pt Calibri, 'Segoe UI',Arial,Verdana,Sans-Serif;

    width: 100%;
    margin: 0;
    padding: 0;

    border: 0 none;
    outline: 0 none;
    background: none;
}

.handle-overlay
{
    position: absolute;
    z-index: 1000;

    width: 1px;
    padding: 2px;

    cursor: crosshair;

    border: 1px solid white;
    background-color: #217346;
}

.overlay-handle-decorator
{
    z-index: 1000;

    border: 2px solid #217346;
}
