.slick-header-menubutton
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    display: inline-block;

    width: 18px;

    cursor: pointer;

    border-left: thin ridge silver;
    background-repeat: no-repeat;
    background-position: center center;
}

.slick-header-menu
{
    position: absolute;
    z-index: 100000;

    display: inline-block;

    min-width: 175px;
    margin: 0;
    padding: 4px;

    cursor: default;

    border: 1px solid #bfbdbd;
    background: none repeat scroll 0 0 white;
}

.slick-header-menu button
{
    width: 45px;
    margin: 4px 4px 4px 0;
    padding: 4px;

    border: 1px solid #bfbdbd;
    background-color: White;
}

.slick-header-menu .filter
{
    font-size: 8pt;

    overflow: scroll;

    width: 200px;
    height: 400px;
    margin-top: 6px;
    padding: 4px;

    white-space: nowrap;

    border: 1px solid #bfbdbd;
}

label
{
    display: block;

    margin-bottom: 5px;
}

.slick-header-menuitem
{
    margin: 0;
    padding: 2px 4px;

    list-style: none outside none;

    cursor: pointer;

    border: 1px solid transparent;
}

.slick-header-menuicon
{
    display: inline-block;

    width: 16px;
    height: 16px;
    margin-right: 4px;

    vertical-align: middle;

    background-repeat: no-repeat;
    background-position: center center;
}

.slick-header-menucontent
{
    display: inline-block;

    vertical-align: middle;
}

.slick-header-menuitem:hover
{
    border-color: #bfbdbd;
}

.header-overlay,
.cell-overlay,
.selection-cell-overlay
{
    position: absolute;
    z-index: 999;

    display: block;
}


