/*
 * IMPORTANT:
 * In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
 * No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
 * classes should alter those!
 */
.slickgrid-container {
  overflow: hidden;
  outline: 0;
  border: 1px solid silver;
  border-left-color: transparent;
  border-top-color: transparent;
  border-left-width: 0;
  border-top-width: 0;
}
.slickgrid-container .slick-viewport,
.slickgrid-container .slick-top-panel-scroller,
.slickgrid-container .slick-header,
.slickgrid-container .slick-headerrow,
.slickgrid-container .slick-footerrow {
  position: relative;
  width: 100%;
  border: 1px solid silver;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-right-width: 0;
  border-bottom-width: 0;
  margin: 0;
  outline: 0;
}
.slickgrid-container .slick-viewport {
  overflow: auto;
}
.slickgrid-container .slick-header,
.slickgrid-container .slick-headerrow,
.slickgrid-container .slick-footerrow {
  overflow: hidden;
}
.slickgrid-container .slick-headerrow {
  border-top-color: transparent;
  border-top-width: 0;
}
.slickgrid-container .slick-top-panel,
.slickgrid-container .slick-header-columns,
.slickgrid-container .slick-headerrow-columns,
.slickgrid-container .slick-footerrow-columns {
  position: relative;
  white-space: nowrap;
  cursor: default;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
.slickgrid-container .slick-cell,
.slickgrid-container .slick-header-column,
.slickgrid-container .slick-headerrow-column,
.slickgrid-container .slick-footerrow-column {
  position: absolute;
  top: 0;
  bottom: 0;
  border: 1px solid silver;
  border-top-color: transparent;
  border-left-color: transparent;
  border-top-width: 0;
  border-left-width: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  vertical-align: middle;
  z-index: 1;
  white-space: nowrap;
  cursor: default;
}
.slickgrid-container .slick-cell.slick-header-is-leaf,
.slickgrid-container .slick-header-column.slick-header-is-leaf,
.slickgrid-container .slick-headerrow-column.slick-header-is-leaf,
.slickgrid-container .slick-footerrow-column.slick-header-is-leaf {
  border-bottom-color: transparent;
  border-bottom-width: 0;
}
.slickgrid-container .slick-cell {
  border-style: dotted;
  padding: 1px 2px 1px 2px;
}
.slickgrid-container .slick-header-column {
  padding: 4px 4px 4px 4px;
}
.slickgrid-container .grid-canvas {
  position: relative;
  outline: 0;
}
.slickgrid-container .slick-row {
  position: absolute;
  border: 0;
  width: 100%;
}
.slickgrid-container .slick-header-column-sorted {
  font-style: italic;
}
.slickgrid-container .slick-sort-indicator {
  display: inline-block;
  width: 8px;
  height: 5px;
  margin-left: 4px;
  margin-top: 6px;
  position: absolute;
  left: 0;
  background: url('images/sort-undetermined.png');
}
.slickgrid-container .slick-sort-indicator-desc {
  background: url('images/sort-desc.png');
}
.slickgrid-container .slick-sort-indicator-asc {
  background: url('images/sort-asc.png');
}
.slickgrid-container .slick-header-sortable .slick-column-name {
  margin-left: 10px;
}
.slickgrid-container .slick-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  cursor: col-resize;
  width: 4px;
  right: 0;
  top: 0;
  height: 100%;
}
.slickgrid-container .slick-resizable-handle-hover {
  background-color: #ccc;
}
.slickgrid-container .slick-sortable-placeholder {
  background: silver;
}
.slickgrid-container .slick-group-toggle {
  display: inline-block;
}
.slickgrid-container .slick-cell.highlighted {
  background: lightskyblue;
  background: rgba(0, 0, 255, 0.2);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.slickgrid-container .slick-cell.flashing {
  border: 1px solid red !important;
}
.slickgrid-container .slick-cell.editable {
  z-index: 11;
  overflow: visible;
  background: white;
  border-color: black;
  border-style: solid;
}
.slickgrid-container .slick-cell:focus {
  outline: none;
}
.slickgrid-container .slick-reorder-proxy {
  display: inline-block;
  background: blue;
  opacity: 0.15;
  filter: alpha(opacity = 15);
  cursor: move;
}
.slickgrid-container .slick-reorder-guide {
  display: inline-block;
  height: 2px;
  background: blue;
  opacity: 0.7;
  filter: alpha(opacity = 70);
}
.slickgrid-container .slick-selection {
  z-index: 10;
  position: absolute;
  border: 2px dashed black;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22slick.grid.less%22%2C%22slick.less.macros.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22%3B%3B%3B%3B%3B%3BAAYA%3BEAEI%2CgBAAA%3BEACA%2CUAAA%3BEAEA%2CwBAAA%3BEACA%2C8BAAA%3BEACA%2C6BAAA%3BEACA%2CoBAAA%3BEACA%2CmBAAA%3B%3BAATJ%2CoBAWI%3BAAXJ%2CoBAYI%3BAAZJ%2CoBAaI%3BAAbJ%2CoBAcI%3BAAdJ%2CoBAeI%3BEACE%2CkBAAA%3BEACA%2CWAAA%3BEACA%2CwBAAA%3BEACA%2C%2BBAAA%3BEACA%2CgCAAA%3BEACA%2CqBAAA%3BEACA%2CsBAAA%3BEACA%2CSAAA%3BEACA%2CUAAA%3B%3BAAxBN%2CoBA0BI%3BEACE%2CcAAA%3B%3BAA3BN%2CoBA6BI%3BAA7BJ%2CoBA8BI%3BAA9BJ%2CoBA%2BBI%3BEACE%2CgBAAA%3B%3BAAhCN%2CoBAkCI%3BEACE%2C6BAAA%3BEACA%2CmBAAA%3B%3BAApCN%2CoBAuCI%3BAAvCJ%2CoBAwCI%3BAAxCJ%2CoBAyCI%3BAAzCJ%2CoBA0CI%3BEACE%2CkBAAA%3BEACA%2CmBAAA%3BEACA%2CeAAA%3BEACA%2CgBAAA%3BEACA%2CSAAA%3BEACA%2CUAAA%3BEACA%2CSAAA%3BEACA%2CUAAA%3B%3BAAlDN%2CoBAqDI%3BAArDJ%2CoBAsDI%3BAAtDJ%2CoBAuDI%3BAAvDJ%2CoBAwDI%3BEACE%2CkBAAA%3BEACA%2CMAAA%3BEACA%2CSAAA%3BEAEA%2CwBAAA%3BEACA%2C6BAAA%3BEACA%2C8BAAA%3BEACA%2CmBAAA%3BEACA%2CoBAAA%3BEACA%2CSAAA%3BEACA%2CUAAA%3BEAEA%2CgBAAA%3BECpDJ%2C0BAAA%3BEA8BA%2CuBAAA%3BEDwBI%2CsBAAA%3BEACA%2CUAAA%3BEACA%2CmBAAA%3BEACA%2CeAAA%3B%3BAAIA%2CoBAzBF%2CYAyBG%3BAAAD%2CoBAxBF%2CqBAwBG%3BAAAD%2CoBAvBF%2CwBAuBG%3BAAAD%2CoBAtBF%2CwBAsBG%3BEACC%2CgCAAA%3BEACA%2CsBAAA%3B%3BAAhFR%2CoBAoFI%3BEACE%2CoBAAA%3BEACA%2CwBAAA%3B%3BAAtFN%2CoBAyFI%3BEACE%2CwBAAA%3B%3BAA1FN%2CoBA6FI%3BEACE%2CkBAAA%3BEACA%2CUAAA%3B%3BAA%2FFN%2CoBAkGI%3BEACE%2CkBAAA%3BEACA%2CSAAA%3BEACA%2CWAAA%3B%3BAArGN%2CoBAwGI%3BEACE%2CkBAAA%3B%3BAAzGN%2CoBA4GI%3BEACE%2CqBAAA%3BEACA%2CUAAA%3BEACA%2CWAAA%3BEACA%2CgBAAA%3BEACA%2CeAAA%3BEACA%2CkBAAA%3BEACA%2COAAA%3BEACA%2CgBAAgB%2C%2BBAAhB%3B%3BAApHN%2CoBAuHI%3BEACE%2CgBAAgB%2CuBAAhB%3B%3BAAxHN%2CoBA2HI%3BEACE%2CgBAAgB%2CsBAAhB%3B%3BAA5HN%2CoBA%2BHI%2CuBAAuB%3BEACrB%2CiBAAA%3B%3BAAhIN%2CoBAmII%3BEACE%2CkBAAA%3BEACA%2CgBAAA%3BEACA%2CcAAA%3BEACA%2CkBAAA%3BEACA%2CUAAA%3BEACA%2CQAAA%3BEACA%2CMAAA%3BEACA%2CYAAA%3B%3BAA3IN%2CoBA8II%3BEACE%2CsBAAA%3B%3BAA%2FIN%2CoBAkJI%3BEACE%2CkBAAA%3B%3BAAnJN%2CoBAyJI%3BEACE%2CqBAAA%3B%3BAAIA%2CoBADF%2CYACG%3BEACC%2CwBAAA%3BEACA%2CgCAAA%3BEC3IN%2C4BAAA%3BEAJA%2CuBAAA%3BEAJA%2CyBAAA%3BEAeA%2CoBAAA%3B%3BADwII%2CoBAPF%2CYAOG%3BEACC%2CgCAAA%3B%3BAAGF%2CoBAXF%2CYAWG%3BEACC%2CWAAA%3BEACA%2CiBAAA%3BEACA%2CiBAAA%3BEACA%2CmBAAA%3BEACA%2CmBAAA%3B%3BAAGF%2CoBAnBF%2CYAmBG%3BEACC%2CaAAA%3B%3BAAjLR%2CoBAqLI%3BEACE%2CqBAAA%3BEACA%2CgBAAA%3BEC5LJ%2CaAAA%3BEACA%2C2BAAA%3BED6LI%2CYAAA%3B%3BAAzLN%2CoBA4LI%3BEACE%2CqBAAA%3BEACA%2CWAAA%3BEACA%2CgBAAA%3BECpMJ%2CYAAA%3BEACA%2C2BAAA%3B%3BADIF%2CoBAmMI%3BEACE%2CWAAA%3BEACA%2CkBAAA%3BEACA%2CwBAAA%22%2C%22sourcesContent%22%3A%5B%22%2F*%5Cn%20*%20IMPORTANT%3A%5Cn%20*%20In%20order%20to%20preserve%20the%20uniform%20grid%20appearance%2C%20all%20cell%20styles%20need%20to%20have%20padding%2C%20margin%20and%20border%20sizes.%5Cn%20*%20No%20built-in%20(selected%2C%20editable%2C%20highlight%2C%20flashing%2C%20invalid%2C%20loading%2C%20%3Afocus)%20or%20user-specified%20CSS%5Cn%20*%20classes%20should%20alter%20those!%5Cn%20*%2F%5Cn%5Cn%40import%20(less)%20%5C%22slick.config.less%5C%22%3B%5Cn%5Cn%40import%20(less)%20%5C%22slick.less.macros.less%5C%22%3B%5Cn%5Cn%5Cn.slickgrid-container%5Cn%7B%5Cn%20%20%20%20overflow%3A%20hidden%3B%5Cn%20%20%20%20outline%3A%200%3B%5Cn%5Cn%20%20%20%20border%3A%201px%20solid%20silver%3B%5Cn%20%20%20%20border-left-color%3A%20transparent%3B%5Cn%20%20%20%20border-top-color%3A%20transparent%3B%5Cn%20%20%20%20border-left-width%3A%200%3B%5Cn%20%20%20%20border-top-width%3A%200%3B%5Cn%5Cn%20%20%20%20.slick-viewport%2C%5Cn%20%20%20%20.slick-top-panel-scroller%2C%5Cn%20%20%20%20.slick-header%2C%20%5Cn%20%20%20%20.slick-headerrow%2C%20%5Cn%20%20%20%20.slick-footerrow%20%7B%5Cn%20%20%20%20%20%20position%3A%20relative%3B%5Cn%20%20%20%20%20%20width%3A%20100%25%3B%5Cn%20%20%20%20%20%20border%3A%201px%20solid%20silver%3B%5Cn%20%20%20%20%20%20border-right-color%3A%20transparent%3B%5Cn%20%20%20%20%20%20border-bottom-color%3A%20transparent%3B%5Cn%20%20%20%20%20%20border-right-width%3A%200%3B%5Cn%20%20%20%20%20%20border-bottom-width%3A%200%3B%5Cn%20%20%20%20%20%20margin%3A%200%3B%5Cn%20%20%20%20%20%20outline%3A%200%3B%5Cn%20%20%20%20%7D%5Cn%20%20%20%20.slick-viewport%20%7B%5Cn%20%20%20%20%20%20overflow%3A%20auto%3B%5Cn%20%20%20%20%7D%5Cn%20%20%20%20.slick-header%2C%20%5Cn%20%20%20%20.slick-headerrow%2C%20%5Cn%20%20%20%20.slick-footerrow%20%7B%5Cn%20%20%20%20%20%20overflow%3A%20hidden%3B%5Cn%20%20%20%20%7D%5Cn%20%20%20%20.slick-headerrow%20%7B%5Cn%20%20%20%20%20%20border-top-color%3A%20transparent%3B%5Cn%20%20%20%20%20%20border-top-width%3A%200%3B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.slick-top-panel%2C%5Cn%20%20%20%20.slick-header-columns%2C%20%5Cn%20%20%20%20.slick-headerrow-columns%2C%20%5Cn%20%20%20%20.slick-footerrow-columns%20%7B%5Cn%20%20%20%20%20%20position%3A%20relative%3B%5Cn%20%20%20%20%20%20white-space%3A%20nowrap%3B%5Cn%20%20%20%20%20%20cursor%3A%20default%3B%5Cn%20%20%20%20%20%20overflow%3A%20hidden%3B%5Cn%20%20%20%20%20%20margin%3A%200%3B%5Cn%20%20%20%20%20%20padding%3A%200%3B%5Cn%20%20%20%20%20%20border%3A%200%3B%5Cn%20%20%20%20%20%20outline%3A%200%3B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.slick-cell%2C%20%5Cn%20%20%20%20.slick-header-column%2C%20%5Cn%20%20%20%20.slick-headerrow-column%2C%20%5Cn%20%20%20%20.slick-footerrow-column%20%7B%5Cn%20%20%20%20%20%20position%3A%20absolute%3B%5Cn%20%20%20%20%20%20top%3A%200%3B%5Cn%20%20%20%20%20%20bottom%3A%200%3B%5Cn%5Cn%20%20%20%20%20%20border%3A%201px%20solid%20silver%3B%5Cn%20%20%20%20%20%20border-top-color%3A%20transparent%3B%5Cn%20%20%20%20%20%20border-left-color%3A%20transparent%3B%5Cn%20%20%20%20%20%20border-top-width%3A%200%3B%5Cn%20%20%20%20%20%20border-left-width%3A%200%3B%5Cn%20%20%20%20%20%20margin%3A%200%3B%5Cn%20%20%20%20%20%20padding%3A%200%3B%5Cn%5Cn%20%20%20%20%20%20overflow%3A%20hidden%3B%5Cn%20%20%20%20%20%20.text-overflow(ellipsis)%3B%5Cn%20%20%20%20%20%20vertical-align%3A%20middle%3B%5Cn%20%20%20%20%20%20z-index%3A%201%3B%5Cn%20%20%20%20%20%20white-space%3A%20nowrap%3B%5Cn%20%20%20%20%20%20cursor%3A%20default%3B%5Cn%5Cn%20%20%20%20%20%20%2F%2F%20do%20not%20include%20a%20bottom%20border%20for%20the%20bottom-most%20%3D%20leaf%20header%20cells%3A%5Cn%20%20%20%20%20%20%2F%2F%20that%20border%20will%20be%20provided%20by%20the%20rows%20container.%5Cn%20%20%20%20%20%20%26.slick-header-is-leaf%20%7B%5Cn%20%20%20%20%20%20%20%20border-bottom-color%3A%20transparent%3B%5Cn%20%20%20%20%20%20%20%20border-bottom-width%3A%200%3B%5Cn%20%20%20%20%20%20%7D%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.slick-cell%20%7B%5Cn%20%20%20%20%20%20border-style%3A%20dotted%3B%5Cn%20%20%20%20%20%20padding%3A%201px%202px%201px%202px%3B%5Cn%20%20%20%20%7D%20%5Cn%5Cn%20%20%20%20.slick-header-column%20%7B%5Cn%20%20%20%20%20%20padding%3A%20%40cell-padding-top%20%40cell-padding-right%20%40cell-padding-bottom%20%40cell-padding-left%3B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.grid-canvas%20%7B%5Cn%20%20%20%20%20%20position%3A%20relative%3B%5Cn%20%20%20%20%20%20outline%3A%200%3B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.slick-row%20%7B%5Cn%20%20%20%20%20%20position%3A%20absolute%3B%5Cn%20%20%20%20%20%20border%3A%200%3B%5Cn%20%20%20%20%20%20width%3A%20100%25%3B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.slick-header-column-sorted%20%7B%5Cn%20%20%20%20%20%20font-style%3A%20italic%3B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.slick-sort-indicator%20%7B%5Cn%20%20%20%20%20%20display%3A%20inline-block%3B%5Cn%20%20%20%20%20%20width%3A%208px%3B%5Cn%20%20%20%20%20%20height%3A%205px%3B%5Cn%20%20%20%20%20%20margin-left%3A%204px%3B%5Cn%20%20%20%20%20%20margin-top%3A%206px%3B%5Cn%20%20%20%20%20%20position%3A%20absolute%3B%5Cn%20%20%20%20%20%20left%3A%200%3B%5Cn%20%20%20%20%20%20background%3A%20url('images%2Fsort-undetermined.png')%3B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.slick-sort-indicator-desc%20%7B%5Cn%20%20%20%20%20%20background%3A%20url('images%2Fsort-desc.png')%3B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.slick-sort-indicator-asc%20%7B%5Cn%20%20%20%20%20%20background%3A%20url('images%2Fsort-asc.png')%3B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.slick-header-sortable%20.slick-column-name%20%7B%5Cn%20%20%20%20%20%20margin-left%3A%2010px%3B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.slick-resizable-handle%20%7B%5Cn%20%20%20%20%20%20position%3A%20absolute%3B%5Cn%20%20%20%20%20%20font-size%3A%200.1px%3B%5Cn%20%20%20%20%20%20display%3A%20block%3B%5Cn%20%20%20%20%20%20cursor%3A%20col-resize%3B%5Cn%20%20%20%20%20%20width%3A%204px%3B%5Cn%20%20%20%20%20%20right%3A%200%3B%5Cn%20%20%20%20%20%20top%3A%200%3B%5Cn%20%20%20%20%20%20height%3A%20100%25%3B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.slick-resizable-handle-hover%20%7B%5Cn%20%20%20%20%20%20background-color%3A%20%23ccc%3B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.slick-sortable-placeholder%20%7B%5Cn%20%20%20%20%20%20background%3A%20silver%3B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.slick-group%20%7B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.slick-group-toggle%20%7B%5Cn%20%20%20%20%20%20display%3A%20inline-block%3B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.slick-cell%20%7B%5Cn%20%20%20%20%20%20%26.highlighted%20%7B%5Cn%20%20%20%20%20%20%20%20background%3A%20lightskyblue%3B%5Cn%20%20%20%20%20%20%20%20background%3A%20rgba(0%2C%200%2C%20255%2C%200.2)%3B%5Cn%20%20%20%20%20%20%20%20.transition(all%200.5s)%3B%5Cn%20%20%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%20%20%26.flashing%20%7B%5Cn%20%20%20%20%20%20%20%20border%3A%201px%20solid%20red%20!important%3B%5Cn%20%20%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%20%20%26.editable%20%7B%5Cn%20%20%20%20%20%20%20%20z-index%3A%2011%3B%5Cn%20%20%20%20%20%20%20%20overflow%3A%20visible%3B%5Cn%20%20%20%20%20%20%20%20background%3A%20white%3B%5Cn%20%20%20%20%20%20%20%20border-color%3A%20black%3B%5Cn%20%20%20%20%20%20%20%20border-style%3A%20solid%3B%5Cn%20%20%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%20%20%26%3Afocus%20%7B%5Cn%20%20%20%20%20%20%20%20outline%3A%20none%3B%5Cn%20%20%20%20%20%20%7D%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.slick-reorder-proxy%20%7B%5Cn%20%20%20%20%20%20display%3A%20inline-block%3B%5Cn%20%20%20%20%20%20background%3A%20blue%3B%5Cn%20%20%20%20%20%20.opacity(0.15)%3B%5Cn%20%20%20%20%20%20cursor%3A%20move%3B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.slick-reorder-guide%20%7B%5Cn%20%20%20%20%20%20display%3A%20inline-block%3B%5Cn%20%20%20%20%20%20height%3A%202px%3B%5Cn%20%20%20%20%20%20background%3A%20blue%3B%5Cn%20%20%20%20%20%20.opacity(0.7)%3B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.slick-selection%20%7B%5Cn%20%20%20%20%20%20z-index%3A%2010%3B%5Cn%20%20%20%20%20%20position%3A%20absolute%3B%5Cn%20%20%20%20%20%20border%3A%202px%20dashed%20black%3B%5Cn%20%20%20%20%7D%5Cn%7D%5Cn%5Cn%22%2C%22%5Cn%2F%2F%5Cn%2F%2F%20LESS%20mixins%20for%20slickgrid%5Cn%2F%2F%5Cn%5Cn.opacity(%40opacity)%5Cn%7B%5Cn%20%20opacity%3A%20%40opacity%3B%5Cn%20%20filter%3A%20~%60%5C%22alpha(opacity%20%3D%20%5C%22%20%2B%20%40%7Bopacity%7D%20*%20100%20%2B%20%5C%22)%5C%22%60%3B%5Cn%7D%5Cn%5Cn%5Cn%2F%2F%5Cn%2F%2F%20Taken%20from%5Cn%2F%2F%20%20%20https%3A%2F%2Fgithub.com%2Fless%2Fless.js%2Fissues%2F1199%5Cn%2F%2F%20%20%20https%3A%2F%2Fgithub.com%2Fless%2Fless.js%2Fissues%2F36%5Cn%2F%2F%20and%20reworked%20as%20an%20alternative%20answer%20to%5Cn%2F%2F%20%20%20http%3A%2F%2Fstackoverflow.com%2Fquestions%2F18558368%2Fis-there-a-generic-way-to-add-vendor-prefixes-in-less%5Cn%2F%2F%5Cn%40prefix-moz%3A%20true%3B%5Cn%40prefix-opera%3A%20true%3B%5Cn%40prefix-webkit%3A%20true%3B%5Cn%5Cn.moz-prefix(%40prop%2C%20%40value)%20when%20(%40prefix-moz)%5Cn%7B%5Cn%20%20-moz-%40%7Bprop%7D%3A%20%40value%3B%5Cn%7D%5Cn.opera-prefix(%40prop%2C%20%40value)%20when%20(%40prefix-opera)%5Cn%7B%5Cn%20%20-o-%40%7Bprop%7D%3A%20%40value%3B%5Cn%7D%5Cn.webkit-prefix(%40prop%2C%20%40value)%20when%20(%40prefix-webkit)%5Cn%7B%5Cn%20%20-webkit-%40%7Bprop%7D%3A%20%40value%3B%5Cn%7D%5Cn.prefixer(%40prop%2C%20%40value)%5Cn%7B%5Cn%20%20.webkit-prefix(%40prop%2C%20%40value)%3B%5Cn%20%20.opera-prefix(%40prop%2C%20%40value)%3B%5Cn%20%20.moz-prefix(%40prop%2C%20%40value)%3B%5Cn%20%20%40%7Bprop%7D%3A%20%40value%3B%5Cn%7D%5Cn%2F%2F%20Usage%20example%3A%5Cn%2F%2F%20%20%20.box%20%7B%5Cn%2F%2F%20%20%20%20%20.prefixer(border-radius%2C%2010px)%3B%5Cn%2F%2F%20%20%20%7D%5Cn%5Cn%5Cn%5Cn%5Cn%5Cn.transition(%40value)%5Cn%7B%5Cn%20%20%20%20.prefixer(transition%2C%20%20%20%40value)%3B%5Cn%7D%5Cn%5Cn.text-overflow(%40value)%5Cn%7B%5Cn%20%20.opera-prefix(text-overflow%2C%20%40value)%3B%5Cn%20%20text-overflow%3A%20%40value%3B%5Cn%7D%22%5D%7D */