/*
IMPORTANT:
In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
classes should alter those!
*/

.slick-header.ui-state-default,
.slick-headerrow.ui-state-default
{
    overflow: hidden;

    width: 100%;

    border-left: 0;
}

.slick-header-columns,
.slick-headerrow-columns
{
    position: relative;

    overflow: hidden;

    cursor: default;
    white-space: nowrap;
}

.slick-header-column.ui-state-default
{
    line-height: 20px;

    position: relative;

    display: inline-block;
    float: left;
    overflow: hidden;

    height: 20px;
    margin: 0;
    padding: 4px;

       text-overflow: ellipsis;

    border-top: 0;
    border-right: 1px solid silver;
    border-bottom: 0;
    border-left: 0;

    -o-text-overflow: ellipsis;
}

.slick-headerrow-column.ui-state-default
{
    padding: 4px;
}

.slick-header-column-sorted
{
    font-style: italic;
}

.slick-sort-indicator
{
    display: inline-block;
    float: left;

    width: 8px;
    height: 5px;
    margin-top: 6px;
    margin-left: 4px;
}

.slick-sort-indicator-desc
{
    background: url(images/sort-desc.gif);
}

.slick-sort-indicator-asc
{
    background: url(images/sort-asc.gif);
}

.slick-resizable-handle
{
    font-size: .1px;

    position: absolute;
    top: 0;
    right: 0;

    display: block;

    width: 4px;
    height: 100%;

    cursor: col-resize;
}

.slick-sortable-placeholder
{
    background: silver;
}

.grid-canvas
{
    position: relative;

    outline: 0;
}

.slick-row.ui-widget-content,
.slick-row.ui-state-active
{
    position: absolute;

    width: 100%;

    border: 0;
}

.slick-cell,
.slick-headerrow-column
{
    position: absolute;
    z-index: 1;

    overflow: hidden;

    margin: 0;
    padding: 1px 2px 2px 1px;

    cursor: default;
    vertical-align: middle;
    white-space: nowrap;
       text-overflow: ellipsis;

    border: 1px solid transparent;
    border-right: 1px dotted silver;
    border-bottom-color: silver;

    -o-text-overflow: ellipsis;
}



.slick-group-toggle
{
    display: inline-block;
}

.slick-cell.highlighted
{
    -webkit-transition: all .5s;
       -moz-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;

    background: lightskyblue;
    background: rgba(0, 0, 255, .2);
}

.slick-cell.flashing
{
    border: 1px solid red !important;
}

.slick-cell.editable
{
    z-index: 11;

    overflow: visible;

    border-style: solid;
    border-color: black;
    background: white;
}

.slick-cell:focus
{
    outline: none;
}

.slick-reorder-proxy
{
    display: inline-block;

    cursor: move;

    opacity: .15;
    background: blue;

    filter: alpha(opacity = 15);
}

.slick-reorder-guide
{
    display: inline-block;

    height: 2px;

    opacity: .7;
    background: blue;

    filter: alpha(opacity = 70);
}

.slick-selection
{
    position: absolute;
    z-index: 10;

    border: 2px dashed black;
}
