//@import (less) 'variables.less';
// Width variables (appears count calculates by raw css)
@width0: 100%; // Appears 4 times



.slick-header.ui-state-default {
	border-left: 0px;
	overflow: hidden;
	width: @width0;
}
.slick-headerrow.ui-state-default {
	border-left: 0px;
	overflow: hidden;
	width: @width0;
}
.slick-header-columns {
	cursor: default;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
}
.slick-headerrow-columns {
	cursor: default;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
}

.slick-header > .slick-header-columns > .slick-header-column {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box; }

.slick-header-column.ui-state-default {
	-o-text-overflow: ellipsis;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 1px solid silver;
	border-top: 0px;
	display: inline-block;
	float: left;
	height: 16px;
	line-height: 16px;
	margin: 0;
	overflow: hidden;
	padding: 4px;
	position: relative;
	text-overflow: ellipsis;
}
.slick-headerrow-column.ui-state-default {
	padding: 4px;
}
.slick-header-column-sorted {
	font-style: italic;
}
.slick-sort-indicator {
	display: inline-block;
	float: left;
	height: 5px;
	margin-left: 4px;
	margin-top: 6px;
	width: 8px;
}
.slick-sort-indicator-desc {
	background: url('@{images}/sort-desc.gif');
}
.slick-sort-indicator-asc {
	background: url('@{images}/sort-asc.gif');
}
.slick-resizable-handle {
	cursor: col-resize;
	display: block;
	font-size: 0.1px;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0;
	width: 4px;
}
.slick-sortable-placeholder {
	background: silver;
}
.grid-canvas {
	outline: 0;
	position: relative;
}
.slick-row.ui-widget-content {
	border: 0px;
	position: absolute;
	width: @width0;
}
.slick-row.ui-state-active {
	border: 0px;
	position: absolute;
	width: @width0;
}
.slick-cell {
	-o-text-overflow: ellipsis;
	border-bottom-color: silver;
	border-right: 1px dotted silver;
	border: 1px solid transparent;
	cursor: default;
	margin: 0;
	overflow: hidden;
	padding: 1px 2px 2px 1px;
	position: absolute;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
	z-index: 1;
	&:focus {
		outline: none;
	}
}
.slick-headerrow-column {
	-o-text-overflow: ellipsis;
	border-bottom-color: silver;
	border-right: 1px dotted silver;
	border: 1px solid transparent;
	cursor: default;
	margin: 0;
	overflow: hidden;
	padding: 1px 2px 2px 1px;
	position: absolute;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
	z-index: 1;
}
.slick-group {
}
.slick-group-toggle {
	display: inline-block;
}
.slick-cell.highlighted {
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	background: lightskyblue;
	background: rgba(0, 0, 255, 0.2);
	transition: all 0.5s;
}
.slick-cell.flashing {
	border: 1px solid red !important;
}
.slick-cell.editable {
	background: white;
	border-color: black;
	border-style: solid;
	overflow: visible;
	z-index: 11;
}
.slick-reorder-proxy {
	background: blue;
	cursor: move;
	display: inline-block;
	filter:Alpha(Opacity=15);
	opacity: 0.15;
}
.slick-reorder-guide {
	background: blue;
	display: inline-block;
	filter:alpha(opacity=70);
	height: 2px;
	opacity: 0.7;
}
.slick-selection {
	border: 2px dashed black;
	position: absolute;
	z-index: 10;
}
