.slick-columnpicker
{
    min-width: 100px;
    padding: 6px;

    cursor: default;

    border: 1px solid #718bb7;
    background: #f0f0f0;
    -webkit-box-shadow: 2px 2px 2px silver;
       -moz-box-shadow: 2px 2px 2px silver;
            box-shadow: 2px 2px 2px silver;
}

.slick-columnpicker li
{
    margin: 0;
    padding: 0;

    list-style: none;

    background: none;
}

.slick-columnpicker input
{
    margin: 4px;
}

.slick-columnpicker li a
{
    font-weight: bold;

    display: block;

    padding: 4px;
}

.slick-columnpicker li a:hover
{
    background: white;
}
