.slickgrid-container input.editor-text,
.slickgrid-container input.editor-text-readonly,
.slickgrid-container input.editor-integer,
.slickgrid-container input.editor-float,
.slickgrid-container input.editor-percentage,
.slickgrid-container input.editor-percentcomplete,
.slickgrid-container input.editor-date,
.slickgrid-container textarea.editor-longtext-basic-input {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;
}
.slickgrid-container input.editor-date {
  font-family: Arial, sans-serif;
  font-size: 8px;
}
.slickgrid-container .ui-datepicker-trigger {
  margin-top: 2px;
  padding: 0;
  vertical-align: top;
}
.slickgrid-container .editor-percentcomplete-picker,
.slickgrid-container .editor-longtext-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 16px;
  height: 100%;
  background: url("images/pencil.gif") no-repeat center center;
  overflow: visible;
  z-index: 1000;
}
.slickgrid-container textarea.editor-longtext-basic-input {
  line-height: 20px;
  resize: none;
}
.slickgrid-container select.editor-yesno {
  width: 100%;
  margin: 0;
  vertical-align: middle;
}
.slickgrid-container input.editor-checkbox {
  margin: 0px 3px 3px 4px;
  height: 100%;
  padding: 0;
  border: 0;
}
.slickgrid-container .sp-replacer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 4px 0 0;
  border: none;
  outline: none;
  background: transparent;
}
.slickgrid-container .sp-preview {
  width: 80%;
  border: none;
}
.slick-editor-longtext {
  z-index: 10000;
  position: absolute;
  background: #f2f2f2;
  padding: 5px;
  border: 3px solid gray;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: none;
}
.slick-editor-longtext textarea {
  background: white;
  width: 250px;
  height: 80px;
  border: 0;
  outline: 0;
}
.slick-editor-longtext .buttons-container {
  text-align: right;
}
.editor-percentcomplete-helper {
  z-index: 12;
  border: 0 solid gray;
  position: absolute;
  top: -2px;
  left: -9px;
  background: url("images/editor-helper-bg.gif") no-repeat top left;
  padding-left: 9px;
  width: 120px;
  height: 140px;
  display: none;
  overflow: visible;
}
.editor-percentcomplete-helper .editor-percentcomplete-wrapper {
  background: beige;
  padding: 20px 8px;
  height: 98px;
  border: 1px solid gray;
  border-left: 0;
}
.editor-percentcomplete-helper .editor-percentcomplete-buttons {
  float: right;
}
.editor-percentcomplete-helper .editor-percentcomplete-buttons button {
  width: 80px;
}
.editor-percentcomplete-helper .editor-percentcomplete-slider {
  float: left;
}
