/*
 * IMPORTANT:
 * In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
 * No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
 * classes should alter those!
 */
/* Component containers
----------------------------------*/
.ui-widget {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.ui-widget .ui-widget {
  font-size: 13px;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
}
.ui-widget-content {
  color: #222;
  border: 1px solid #aaa;
  background: #ffffff url("images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
}
.ui-widget-content a {
  color: #222;
}
.ui-widget-header {
  font-weight: bold;
  color: #222;
  border: 1px solid #aaa;
  background: #cccccc url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;
}
.ui-widget-header a {
  color: #222;
}
/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  font-weight: normal;
  color: #555;
  border: 1px solid #d3d3d3;
  background: #e6e6e6 url("images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  text-decoration: none;
  color: #555;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  font-weight: normal;
  color: #212121;
  border: 1px solid #999;
  background: #dadada url("images/ui-bg_glass_75_dadada_1x400.png") 50% 50% repeat-x;
}
.ui-state-hover a,
.ui-state-hover a:hover {
  text-decoration: none;
  color: #212121;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  font-weight: normal;
  color: #212121;
  border: 1px solid #aaa;
  background: #ffffff url("images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  text-decoration: none;
  color: #212121;
}
.ui-widget :active {
  outline: none;
}
/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  color: #363636;
  border: 1px solid #fcefa1;
  background: #fbf9ee url("images/ui-bg_glass_55_fbf9ee_1x400.png") 50% 50% repeat-x;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #363636;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  color: #cd0a0a;
  border: 1px solid #cd0a0a;
  background: #fef1ec url("images/ui-bg_glass_95_fef1ec_1x400.png") 50% 50% repeat-x;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #cd0a0a;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #cd0a0a;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  font-weight: normal;
  opacity: .7;
  filter: alpha(opacity=70);
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  background-image: none;
  filter: alpha(opacity=35);
}
/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  width: 16px;
  height: 16px;
  background-image: url("images/ui-icons_222222_256x240.png");
}
.ui-widget-content .ui-icon {
  background-image: url("images/ui-icons_222222_256x240.png");
}
.ui-widget-header .ui-icon {
  background-image: url("images/ui-icons_222222_256x240.png");
}
.ui-state-default .ui-icon {
  background-image: url("images/ui-icons_888888_256x240.png");
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
  background-image: url("images/ui-icons_454545_256x240.png");
}
.ui-state-active .ui-icon {
  background-image: url("images/ui-icons_454545_256x240.png");
}
.ui-state-highlight .ui-icon {
  background-image: url("images/ui-icons_2e83ff_256x240.png");
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
  background-image: url("images/ui-icons_cd0a0a_256x240.png");
}
/* positioning */
.ui-icon-carat-1-n {
  background-position: 0 0;
}
.ui-icon-carat-1-ne {
  background-position: -16px 0;
}
.ui-icon-carat-1-e {
  background-position: -32px 0;
}
.ui-icon-carat-1-se {
  background-position: -48px 0;
}
.ui-icon-carat-1-s {
  background-position: -64px 0;
}
.ui-icon-carat-1-sw {
  background-position: -80px 0;
}
.ui-icon-carat-1-w {
  background-position: -96px 0;
}
.ui-icon-carat-1-nw {
  background-position: -112px 0;
}
.ui-icon-carat-2-n-s {
  background-position: -128px 0;
}
.ui-icon-carat-2-e-w {
  background-position: -144px 0;
}
.ui-icon-triangle-1-n {
  background-position: 0 -16px;
}
.ui-icon-triangle-1-ne {
  background-position: -16px -16px;
}
.ui-icon-triangle-1-e {
  background-position: -32px -16px;
}
.ui-icon-triangle-1-se {
  background-position: -48px -16px;
}
.ui-icon-triangle-1-s {
  background-position: -64px -16px;
}
.ui-icon-triangle-1-sw {
  background-position: -80px -16px;
}
.ui-icon-triangle-1-w {
  background-position: -96px -16px;
}
.ui-icon-triangle-1-nw {
  background-position: -112px -16px;
}
.ui-icon-triangle-2-n-s {
  background-position: -128px -16px;
}
.ui-icon-triangle-2-e-w {
  background-position: -144px -16px;
}
.ui-icon-arrow-1-n {
  background-position: 0 -32px;
}
.ui-icon-arrow-1-ne {
  background-position: -16px -32px;
}
.ui-icon-arrow-1-e {
  background-position: -32px -32px;
}
.ui-icon-arrow-1-se {
  background-position: -48px -32px;
}
.ui-icon-arrow-1-s {
  background-position: -64px -32px;
}
.ui-icon-arrow-1-sw {
  background-position: -80px -32px;
}
.ui-icon-arrow-1-w {
  background-position: -96px -32px;
}
.ui-icon-arrow-1-nw {
  background-position: -112px -32px;
}
.ui-icon-arrow-2-n-s {
  background-position: -128px -32px;
}
.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px;
}
.ui-icon-arrow-2-e-w {
  background-position: -160px -32px;
}
.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px;
}
.ui-icon-arrowstop-1-n {
  background-position: -192px -32px;
}
.ui-icon-arrowstop-1-e {
  background-position: -208px -32px;
}
.ui-icon-arrowstop-1-s {
  background-position: -224px -32px;
}
.ui-icon-arrowstop-1-w {
  background-position: -240px -32px;
}
.ui-icon-arrowthick-1-n {
  background-position: 0 -48px;
}
.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px;
}
.ui-icon-arrowthick-1-e {
  background-position: -32px -48px;
}
.ui-icon-arrowthick-1-se {
  background-position: -48px -48px;
}
.ui-icon-arrowthick-1-s {
  background-position: -64px -48px;
}
.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px;
}
.ui-icon-arrowthick-1-w {
  background-position: -96px -48px;
}
.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px;
}
.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px;
}
.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px;
}
.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px;
}
.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px;
}
.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px;
}
.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px;
}
.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px;
}
.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px;
}
.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px;
}
.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px;
}
.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px;
}
.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px;
}
.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px;
}
.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px;
}
.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px;
}
.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px;
}
.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px;
}
.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px;
}
.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px;
}
.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px;
}
.ui-icon-arrow-4 {
  background-position: 0 -80px;
}
.ui-icon-arrow-4-diag {
  background-position: -16px -80px;
}
.ui-icon-extlink {
  background-position: -32px -80px;
}
.ui-icon-newwin {
  background-position: -48px -80px;
}
.ui-icon-refresh {
  background-position: -64px -80px;
}
.ui-icon-shuffle {
  background-position: -80px -80px;
}
.ui-icon-transfer-e-w {
  background-position: -96px -80px;
}
.ui-icon-transferthick-e-w {
  background-position: -112px -80px;
}
.ui-icon-folder-collapsed {
  background-position: 0 -96px;
}
.ui-icon-folder-open {
  background-position: -16px -96px;
}
.ui-icon-document {
  background-position: -32px -96px;
}
.ui-icon-document-b {
  background-position: -48px -96px;
}
.ui-icon-note {
  background-position: -64px -96px;
}
.ui-icon-mail-closed {
  background-position: -80px -96px;
}
.ui-icon-mail-open {
  background-position: -96px -96px;
}
.ui-icon-suitcase {
  background-position: -112px -96px;
}
.ui-icon-comment {
  background-position: -128px -96px;
}
.ui-icon-person {
  background-position: -144px -96px;
}
.ui-icon-print {
  background-position: -160px -96px;
}
.ui-icon-trash {
  background-position: -176px -96px;
}
.ui-icon-locked {
  background-position: -192px -96px;
}
.ui-icon-unlocked {
  background-position: -208px -96px;
}
.ui-icon-bookmark {
  background-position: -224px -96px;
}
.ui-icon-tag {
  background-position: -240px -96px;
}
.ui-icon-home {
  background-position: 0 -112px;
}
.ui-icon-flag {
  background-position: -16px -112px;
}
.ui-icon-calendar {
  background-position: -32px -112px;
}
.ui-icon-cart {
  background-position: -48px -112px;
}
.ui-icon-pencil {
  background-position: -64px -112px;
}
.ui-icon-clock {
  background-position: -80px -112px;
}
.ui-icon-disk {
  background-position: -96px -112px;
}
.ui-icon-calculator {
  background-position: -112px -112px;
}
.ui-icon-zoomin {
  background-position: -128px -112px;
}
.ui-icon-zoomout {
  background-position: -144px -112px;
}
.ui-icon-search {
  background-position: -160px -112px;
}
.ui-icon-wrench {
  background-position: -176px -112px;
}
.ui-icon-gear {
  background-position: -192px -112px;
}
.ui-icon-heart {
  background-position: -208px -112px;
}
.ui-icon-star {
  background-position: -224px -112px;
}
.ui-icon-link {
  background-position: -240px -112px;
}
.ui-icon-cancel {
  background-position: 0 -128px;
}
.ui-icon-plus {
  background-position: -16px -128px;
}
.ui-icon-plusthick {
  background-position: -32px -128px;
}
.ui-icon-minus {
  background-position: -48px -128px;
}
.ui-icon-minusthick {
  background-position: -64px -128px;
}
.ui-icon-close {
  background-position: -80px -128px;
}
.ui-icon-closethick {
  background-position: -96px -128px;
}
.ui-icon-key {
  background-position: -112px -128px;
}
.ui-icon-lightbulb {
  background-position: -128px -128px;
}
.ui-icon-scissors {
  background-position: -144px -128px;
}
.ui-icon-clipboard {
  background-position: -160px -128px;
}
.ui-icon-copy {
  background-position: -176px -128px;
}
.ui-icon-contact {
  background-position: -192px -128px;
}
.ui-icon-image {
  background-position: -208px -128px;
}
.ui-icon-video {
  background-position: -224px -128px;
}
.ui-icon-script {
  background-position: -240px -128px;
}
.ui-icon-alert {
  background-position: 0 -144px;
}
.ui-icon-info {
  background-position: -16px -144px;
}
.ui-icon-notice {
  background-position: -32px -144px;
}
.ui-icon-help {
  background-position: -48px -144px;
}
.ui-icon-check {
  background-position: -64px -144px;
}
.ui-icon-bullet {
  background-position: -80px -144px;
}
.ui-icon-radio-off {
  background-position: -96px -144px;
}
.ui-icon-radio-on {
  background-position: -112px -144px;
}
.ui-icon-pin-w {
  background-position: -128px -144px;
}
.ui-icon-pin-s {
  background-position: -144px -144px;
}
.ui-icon-play {
  background-position: 0 -160px;
}
.ui-icon-pause {
  background-position: -16px -160px;
}
.ui-icon-seek-next {
  background-position: -32px -160px;
}
.ui-icon-seek-prev {
  background-position: -48px -160px;
}
.ui-icon-seek-end {
  background-position: -64px -160px;
}
.ui-icon-seek-start {
  background-position: -80px -160px;
}
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first {
  background-position: -80px -160px;
}
.ui-icon-stop {
  background-position: -96px -160px;
}
.ui-icon-eject {
  background-position: -112px -160px;
}
.ui-icon-volume-off {
  background-position: -128px -160px;
}
.ui-icon-volume-on {
  background-position: -144px -160px;
}
.ui-icon-power {
  background-position: 0 -176px;
}
.ui-icon-signal-diag {
  background-position: -16px -176px;
}
.ui-icon-signal {
  background-position: -32px -176px;
}
.ui-icon-battery-0 {
  background-position: -48px -176px;
}
.ui-icon-battery-1 {
  background-position: -64px -176px;
}
.ui-icon-battery-2 {
  background-position: -80px -176px;
}
.ui-icon-battery-3 {
  background-position: -96px -176px;
}
.ui-icon-circle-plus {
  background-position: 0 -192px;
}
.ui-icon-circle-minus {
  background-position: -16px -192px;
}
.ui-icon-circle-close {
  background-position: -32px -192px;
}
.ui-icon-circle-triangle-e {
  background-position: -48px -192px;
}
.ui-icon-circle-triangle-s {
  background-position: -64px -192px;
}
.ui-icon-circle-triangle-w {
  background-position: -80px -192px;
}
.ui-icon-circle-triangle-n {
  background-position: -96px -192px;
}
.ui-icon-circle-arrow-e {
  background-position: -112px -192px;
}
.ui-icon-circle-arrow-s {
  background-position: -128px -192px;
}
.ui-icon-circle-arrow-w {
  background-position: -144px -192px;
}
.ui-icon-circle-arrow-n {
  background-position: -160px -192px;
}
.ui-icon-circle-zoomin {
  background-position: -176px -192px;
}
.ui-icon-circle-zoomout {
  background-position: -192px -192px;
}
.ui-icon-circle-check {
  background-position: -208px -192px;
}
.ui-icon-circlesmall-plus {
  background-position: 0 -208px;
}
.ui-icon-circlesmall-minus {
  background-position: -16px -208px;
}
.ui-icon-circlesmall-close {
  background-position: -32px -208px;
}
.ui-icon-squaresmall-plus {
  background-position: -48px -208px;
}
.ui-icon-squaresmall-minus {
  background-position: -64px -208px;
}
.ui-icon-squaresmall-close {
  background-position: -80px -208px;
}
.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px;
}
.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px;
}
.ui-icon-grip-solid-vertical {
  background-position: -32px -224px;
}
.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px;
}
.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px;
}
.ui-icon-grip-diagonal-se {
  background-position: -80px -224px;
}
/* Misc visuals
----------------------------------*/
/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -khtml-border-top-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -khtml-border-top-right-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
}
/* Overlays */
.ui-widget-overlay {
  opacity: .30;
  background: #aaaaaa url("images/ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x;
  filter: alpha(opacity=30);
}
.ui-widget-shadow {
  margin: -8px 0 0 -8px;
  padding: 8px;
  opacity: .30;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #aaaaaa url("images/ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x;
  filter: alpha(opacity=30);
  -khtml-border-radius: 8px;
}
/*
 * jQuery UI Resizable 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Resizable#theming
 */
.ui-resizable {
  position: relative;
}
.ui-resizable-handle {
  font-size: 1px;
  position: absolute;
  z-index: 99999;
  display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.ui-resizable-n {
  top: -5px;
  left: 0;
  width: 100%;
  height: 7px;
  cursor: n-resize;
}
.ui-resizable-s {
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 7px;
  cursor: s-resize;
}
.ui-resizable-e {
  top: 0;
  right: -5px;
  width: 7px;
  height: 100%;
  cursor: e-resize;
}
.ui-resizable-w {
  top: 0;
  left: -5px;
  width: 7px;
  height: 100%;
  cursor: w-resize;
}
.ui-resizable-se {
  right: 1px;
  bottom: 1px;
  width: 12px;
  height: 12px;
  cursor: se-resize;
}
.ui-resizable-sw {
  bottom: -5px;
  left: -5px;
  width: 9px;
  height: 9px;
  cursor: sw-resize;
}
.ui-resizable-nw {
  top: -5px;
  left: -5px;
  width: 9px;
  height: 9px;
  cursor: nw-resize;
}
.ui-resizable-ne {
  top: -5px;
  right: -5px;
  width: 9px;
  height: 9px;
  cursor: ne-resize;
}
/*
 * jQuery UI Selectable 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Selectable#theming
 */
.ui-selectable-helper {
  position: absolute;
  z-index: 100;
  border: 1px dotted black;
}
/*
 * jQuery UI Slider 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider {
  position: relative;
  text-align: left;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}
.ui-slider .ui-slider-range {
  font-size: .7em;
  position: absolute;
  z-index: 1;
  display: block;
  border: 0;
  background-position: 0 0;
}
.ui-slider-horizontal {
  height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -0.3em;
  margin-left: -0.6em;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.ui-slider-vertical {
  width: .8em;
  height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
  left: -0.3em;
  margin-bottom: -0.6em;
  margin-left: 0;
}
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}
/*
 * jQuery UI Datepicker 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.ui-datepicker {
  display: none;
  width: 17em;
  padding: .2em .2em 0;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}
.ui-datepicker .ui-datepicker-next {
  right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin-top: -8px;
  margin-left: -8px;
}
.ui-datepicker .ui-datepicker-title {
  line-height: 1.8em;
  margin: 0 2.3em;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%;
}
.ui-datepicker table {
  font-size: .9em;
  width: 100%;
  margin: 0 0 .4em;
  border-collapse: collapse;
}
.ui-datepicker th {
  font-weight: bold;
  padding: .7em .3em;
  text-align: center;
  border: 0;
}
.ui-datepicker td {
  padding: 1px;
  border: 0;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  background-image: none;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  overflow: visible;
  width: auto;
  margin: .5em .2em .4em;
  padding: .2em .6em .3em .6em;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}
/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
  border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}
.ui-datepicker-row-break {
  font-size: 0;
  clear: both;
  width: 100%;
}
/* RTL support */
.ui-datepicker-rtl {
  direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
  right: auto;
  left: 2px;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
  right: auto;
  left: 1px;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: right;
}
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}
.slickgrid-container input.editor-text,
.slickgrid-container input.editor-text-readonly,
.slickgrid-container input.editor-integer,
.slickgrid-container input.editor-float,
.slickgrid-container input.editor-percentage,
.slickgrid-container input.editor-percentcomplete,
.slickgrid-container input.editor-date,
.slickgrid-container textarea.editor-longtext-basic-input {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;
}
.slickgrid-container input.editor-date {
  font-family: 'Arial, sans-serif';
  font-size: 8px;
}
.slickgrid-container .ui-datepicker-trigger {
  margin-top: 2px;
  padding: 0;
  vertical-align: top;
}
.slickgrid-container .editor-percentcomplete-picker,
.slickgrid-container .editor-longtext-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 16px;
  height: 100%;
  background: url("images/pencil.gif") no-repeat center center;
  overflow: visible;
  z-index: 1000;
}
.slickgrid-container textarea.editor-longtext-basic-input {
  line-height: 20px;
  resize: none;
}
.slickgrid-container select.editor-yesno {
  width: 100%;
  margin: 0;
  vertical-align: middle;
}
.slickgrid-container input.editor-checkbox {
  margin: 0px 3px 3px 4px;
  height: 100%;
  padding: 0;
  border: 0;
}
.slickgrid-container .sp-replacer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 4px 0 0;
  border: none;
  outline: none;
  background: transparent;
}
.slickgrid-container .sp-preview {
  width: 80%;
  border: none;
}
.slick-editor-longtext {
  z-index: 10000;
  position: absolute;
  background: #f2f2f2;
  padding: 5px;
  border: 3px solid gray;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: none;
}
.slick-editor-longtext textarea {
  background: white;
  width: 250px;
  height: 80px;
  border: 0;
  outline: 0;
}
.slick-editor-longtext .buttons-container {
  text-align: right;
}
.editor-percentcomplete-helper {
  z-index: 12;
  border: 0 solid gray;
  position: absolute;
  top: -2px;
  left: -9px;
  background: url("images/editor-helper-bg.gif") no-repeat top left;
  padding-left: 9px;
  width: 120px;
  height: 140px;
  display: none;
  overflow: visible;
}
.editor-percentcomplete-helper .editor-percentcomplete-wrapper {
  background: beige;
  padding: 20px 8px;
  height: 98px;
  border: 1px solid gray;
  border-left: 0;
}
.editor-percentcomplete-helper .editor-percentcomplete-buttons {
  float: right;
}
.editor-percentcomplete-helper .editor-percentcomplete-buttons button {
  width: 80px;
}
.editor-percentcomplete-helper .editor-percentcomplete-slider {
  float: left;
}
.color-formatter {
  width: 70px;
  float: left;
}
.color-box {
  width: 20px;
  height: 20px;
  float: left;
}
.slick-header-column span {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.slick-column-name,
.slick-sort-indicator {
  display: inline-block;
  float: left;
  margin-bottom: 100px;
}
.slick-header-button {
  display: inline-block;
  float: right;
  position: relative;
  z-index: 1;
  vertical-align: top;
  margin: 1px;
  margin-bottom: 100px;
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.slick-header-button-hidden {
  width: 0;
  -webkit-transition: 0.2s width;
  -ms-transition: 0.2s width;
  transition: 0.2s width;
}
.slick-header-column:hover > .slick-header-button {
  width: 15px;
}
/* Menu button */
.slick-header-menubutton {
  position: absolute;
  z-index: 1;
  right: 3px;
  top: 0;
  bottom: 0;
  width: 14px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("images/down.gif");
  cursor: pointer;
  display: none;
  border-left: thin ridge silver;
}
.slick-header-column:hover > .slick-header-menubutton,
.slick-header-column-active .slick-header-menubutton {
  display: inline-block;
}
/* Menu */
.slick-header-menu {
  position: absolute;
  display: inline-block;
  margin: 0;
  padding: 2px;
  cursor: default;
}
/* Menu items */
.slick-header-menuitem {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.slick-header-menuicon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center center;
}
.slick-header-menucontent {
  display: inline-block;
  vertical-align: middle;
}
/* Disabled */
.slick-header-menuitem-disabled {
  color: silver;
}
.cell-tooltip-validation-error {
  padding: 5px;
  max-width: 200px;
  color: #303030;
  background-color: #F5F5B5;
  border: 1px solid #DECA7E;
}
.slick-header-menubutton {
  background-position: center center;
  background-repeat: no-repeat;
  border-left: thin ridge silver;
  bottom: 0;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
}
.slick-header-menu {
  background: none repeat scroll 0 0 white;
  border: 1px solid #BFBDBD;
  min-width: 175px;
  padding: 4px;
  z-index: 100000;
  cursor: default;
  display: inline-block;
  margin: 0;
  position: absolute;
}
.slick-header-menu BUTTON {
  border: 1px solid #BFBDBD;
  background-color: White;
  width: 45px;
  padding: 4px;
  margin: 4px 4px 4px 0;
}
.slick-header-menu .filter {
  border: 1px solid #BFBDBD;
  font-size: 8pt;
  height: 400px;
  margin-top: 6px;
  overflow: scroll;
  padding: 4px;
  white-space: nowrap;
  width: 200px;
}
label {
  display: block;
  margin-bottom: 5px;
}
.slick-header-menuitem {
  border: 1px solid transparent;
  padding: 2px 4px;
  cursor: pointer;
  list-style: none outside none;
  margin: 0;
}
.slick-header-menuicon {
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
  width: 16px;
}
.slick-header-menucontent {
  display: inline-block;
  vertical-align: middle;
}
.slick-header-menuitem:hover {
  border-color: #BFBDBD;
}
.header-overlay,
.cell-overlay,
.selection-cell-overlay {
  display: block;
  position: absolute;
  z-index: 999;
}
/*body {
    margin: 0;
}
body, BUTTON {
    font-family: 'Segoe UI';
    font-size: 8.25pt;
}*/
.slick-cell {
  border-color: transparent #D4D4D4 #D4D4D4 transparent;
  border-style: solid solid solid solid;
  border-width: 0px 1px 1px 0px;
  padding: 1px 1px 0px 2px;
  background-color: White;
  font: 11pt 'Arial, sans-serif';
}
.slick-header-columns {
  border-bottom: 1px solid #BBBBBB;
  font: 10pt 'Arial, sans-serif';
  color: #5E5E5E;
}
.selected-header {
  background-color: #E2E2E2;
  color: #217346;
  font-weight: bold;
}
.slick-column-name {
  text-transform: uppercase;
  margin-right: 14px;
  display: block;
  text-align: center;
}
.header-overlay {
  background-color: #217346;
}
.cell-overlay,
.selection-cell-overlay {
  background-color: #217346;
}
input.editor-text {
  font: 11pt 'Arial, sans-serif';
  background: none;
  border: 0 none;
  margin: 0;
  outline: 0 none;
  padding: 0;
  width: 100%;
}
.handle-overlay {
  border: 1px solid white;
  padding: 2px;
  background-color: #217346;
  position: absolute;
  width: 1px;
  z-index: 1000;
  cursor: crosshair;
}
.overlay-handle-decorator {
  border: 2px solid #217346;
  z-index: 1000;
}
.slick-columnpicker {
  min-width: 100px;
  padding: 6px;
  cursor: default;
  border: 1px solid #718bb7;
  background: #f0f0f0;
  -webkit-box-shadow: 2px 2px 2px silver;
  -moz-box-shadow: 2px 2px 2px silver;
  box-shadow: 2px 2px 2px silver;
}
.slick-columnpicker li {
  margin: 0;
  padding: 0;
  list-style: none;
  background: none;
}
.slick-columnpicker li a {
  font-weight: bold;
  display: block;
  padding: 4px;
}
.slick-columnpicker li a:hover {
  background: white;
}
.slick-columnpicker input {
  margin: 4px;
}
.slick-pager {
  width: 100%;
  height: 26px;
  vertical-align: middle;
  border: 1px solid gray;
  border-top: 0;
  background: url('custom_vendor/factlook-slickgrid/images/header-columns-bg.gif') repeat-x center bottom;
}
.slick-pager .slick-pager-status {
  display: inline-block;
  padding: 6px;
}
.slick-pager .ui-icon-container {
  display: inline-block;
  margin: 2px;
  border-color: gray;
}
.slick-pager .slick-pager-nav {
  display: inline-block;
  float: left;
  padding: 2px;
}
.slick-pager .slick-pager-settings {
  display: block;
  float: right;
  padding: 2px;
}
.slick-pager .slick-pager-settings * {
  vertical-align: middle;
}
.slick-pager .slick-pager-settings a {
  padding: 2px;
  cursor: pointer;
  text-decoration: underline;
}
/*overide the bootstrap font path*/
.slickgrid-container {
  overflow: hidden;
  outline: 0;
  border: 1px solid silver;
  border-left-color: transparent;
  border-top-color: transparent;
  border-left-width: 0;
  border-top-width: 0;
}
.slickgrid-container .slick-viewport,
.slickgrid-container .slick-top-panel-scroller,
.slickgrid-container .slick-header,
.slickgrid-container .slick-headerrow,
.slickgrid-container .slick-footerrow {
  position: relative;
  width: 100%;
  border: 1px solid silver;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-right-width: 0;
  border-bottom-width: 0;
  margin: 0;
  outline: 0;
}
.slickgrid-container .slick-viewport {
  overflow: auto;
}
.slickgrid-container .slick-header,
.slickgrid-container .slick-headerrow,
.slickgrid-container .slick-footerrow {
  overflow: hidden;
}
.slickgrid-container .slick-headerrow {
  border-top-color: transparent;
  border-top-width: 0;
}
.slickgrid-container .slick-top-panel,
.slickgrid-container .slick-header-columns,
.slickgrid-container .slick-headerrow-columns,
.slickgrid-container .slick-footerrow-columns {
  position: relative;
  white-space: nowrap;
  cursor: default;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
.slickgrid-container .slick-cell,
.slickgrid-container .slick-header-column,
.slickgrid-container .slick-headerrow-column,
.slickgrid-container .slick-footerrow-column {
  position: absolute;
  top: 0;
  bottom: 0;
  border: 1px solid silver;
  border-top-color: transparent;
  border-left-color: transparent;
  border-top-width: 0;
  border-left-width: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  vertical-align: middle;
  z-index: 1;
  white-space: nowrap;
  cursor: default;
}
.slickgrid-container .slick-cell.slick-header-is-leaf,
.slickgrid-container .slick-header-column.slick-header-is-leaf,
.slickgrid-container .slick-headerrow-column.slick-header-is-leaf,
.slickgrid-container .slick-footerrow-column.slick-header-is-leaf {
  border-bottom-color: transparent;
  border-bottom-width: 0;
}
.slickgrid-container .slick-cell {
  border-style: dotted;
  padding: 1px 2px 1px 2px;
}
.slickgrid-container .slick-header-column {
  padding: 4px 4px 4px 4px;
}
.slickgrid-container .grid-canvas {
  position: relative;
  outline: 0;
}
.slickgrid-container .slick-row {
  position: absolute;
  border: 0;
  width: 100%;
}
.slickgrid-container .slick-header-column-sorted {
  font-style: italic;
}
.slickgrid-container .slick-sort-indicator {
  display: inline-block;
  width: 8px;
  height: 5px;
  margin-left: 4px;
  margin-top: 6px;
  position: absolute;
  left: 0;
  background: url('images/sort-undetermined.png');
}
.slickgrid-container .slick-sort-indicator-desc {
  background: url('images/sort-desc.png');
}
.slickgrid-container .slick-sort-indicator-asc {
  background: url('images/sort-asc.png');
}
.slickgrid-container .slick-header-sortable .slick-column-name {
  margin-left: 10px;
}
.slickgrid-container .slick-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  cursor: col-resize;
  width: 4px;
  right: 0;
  top: 0;
  height: 100%;
}
.slickgrid-container .slick-resizable-handle-hover {
  background-color: #ccc;
}
.slickgrid-container .slick-sortable-placeholder {
  background: silver;
}
.slickgrid-container .slick-group-toggle {
  display: inline-block;
}
.slickgrid-container .slick-cell.highlighted {
  background: lightskyblue;
  background: rgba(0, 0, 255, 0.2);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.slickgrid-container .slick-cell.flashing {
  border: 1px solid red !important;
}
.slickgrid-container .slick-cell.editable {
  z-index: 11;
  overflow: visible;
  background: white;
  border-color: black;
  border-style: solid;
}
.slickgrid-container .slick-cell:focus {
  outline: none;
}
.slickgrid-container .slick-reorder-proxy {
  display: inline-block;
  background: blue;
  opacity: 0.15;
  filter: alpha(opacity = 15);
  cursor: move;
}
.slickgrid-container .slick-reorder-guide {
  display: inline-block;
  height: 2px;
  background: blue;
  opacity: 0.7;
  filter: alpha(opacity = 70);
}
.slickgrid-container .slick-selection {
  z-index: 10;
  position: absolute;
  border: 2px dashed black;
}
